.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	background-color: #fff;
}
.container {
	padding: 12px 0;
	width: 100%;
	max-width: 1080px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper p {
	font-size: 12px;
}