.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.padWrapper {
	width: 100%;
	background-color: #fff;
	border-radius: 16px;

}
.padWrapper canvas {
	border-radius: 16px;
}

.optionWrapper {
	width: 100%;
	display: flex;
}

.optionWrapper button {
	padding: 18px 48px; 
}

.activebtn  {
	color: #fff;
	background-color: rgb(204, 65, 65);
}